@media screen and (max-device-width: 480px) {
	#container-1-bg {
      	background:none;
      	background-color:#6C7A89;
    }
    #dlogo {
    	margin-top:10%;
		height:150px;
	}
	.nav-p {
		font-size:3em;
	}
	#title-div {
		margin-top:20%;
	}
	.span-title {
	font-size:7em;
	}
	.span-title-name {
	font-size:3em;
	}
	#hire-me, #learn-more {
		margin-top:50px;
	}
	.learn-p {
		padding:30px 20px;
	}
	.span-hire {
		padding:40px 47px;
	}
	.link-hire {
		font-size:2em;
	}
	.learn-p {
		font-size:2em;
	}
	#tech-title {
		font-size:7em;
	}
	.tech-descrip  {
		font-size:3em;
	}
	.skills-title {
		font-size:3em;
	}
	.skills-p {
		font-size:2.5em;
		padding:15px 80px;
	}
	#tech-skills-row {
		width:100%;
	}
	#bg-brainstorm {
	background-size:250px;
	width:250px;
	height:250px;
	}
	#bg-ux-ui {
	background-size:260px;
	width:260px;
	height:250px;
	}
	#bg-code {
	background-size:250px;
	width:250px;
	height:250px;
	}
	.work-portfolio-title {
	margin-top:5vh;
	font-size:7em;
	}
	.company {
	font-size:3.5em;
	}
	.job-title {
	font-size:3em;
	}
	.work-descrip {
	font-size:2.5em;
	}
	.mini-box-row {
	width:50%;
	display:inline-block;
	margin-top:2.5vh;
	}
	.big-box-image {
	margin-top:5%;
	height:500px;
	width:560px;
	}	
	.mini-box-image {
	height:250px;
	}
	.more-detail {
	font-size:2.5em;
	}
	.link-detail {
	border:1px solid #FDCD3B;
	padding:30px 30px;
	}

}