@media screen and (max-device-width: 480px) {
	#container-1-bg {
      	background:none;
      	background-color:#6C7A89;
    }
    #dlogo {
    	margin-top:10%;
		height:150px;
	}
	.nav-p {
		font-size:3em;
	}
	#title-div {
		margin-top:20%;
	}
	.span-title {
	font-size:7em;
	}
	.span-title-name {
	font-size:3em;
	}
	#hire-me, #learn-more {
		margin-top:50px;
	}
	.learn-p {
		padding:30px 20px;
	}
	.span-hire {
		padding:40px 47px;
	}
	.link-hire {
		font-size:2em;
	}
	.learn-p {
		font-size:2em;
	}
	#tech-title {
		font-size:7em;
	}
	.tech-descrip  {
		font-size:3em;
	}
	.skills-title {
		font-size:3em;
	}
	.skills-p {
		font-size:2.5em;
		padding:15px 80px;
	}
	#tech-skills-row {
		width:100%;
	}
	#bg-brainstorm {
	background-size:250px;
	width:250px;
	height:250px;
	}
	#bg-ux-ui {
	background-size:260px;
	width:260px;
	height:250px;
	}
	#bg-code {
	background-size:250px;
	width:250px;
	height:250px;
	}
	.mini-box-row {
		width:100%;
	}
}