
#container-1-bg {
	background:url("../photos/coffeebackground.jpg")no-repeat;
	background-size:cover;
	background-position:center center;	
	width:100%;
	height:100vh;
}
.container {
	height:100vh;
	width:100%;
}
#dlogo {
	height:75px;
	margin-top:40px;
}
#title-div {
	margin-top:15vh;
}
.span-title, .span-title-name {
	color:#FFFFFF;
	font-family:trajan sans-serif;
	font-size:50px;
}
.span-title-name {
	font-size:30px;
}
#hire-me {
	margin-top:15px;
}
.span-hire {
	margin-top:5vh;
	border:1px solid #FDCD3B;
	border-radius:30px;
	padding:10px 20px;
	font-size:14px;
	font-family:trajan sans-serif;
}
.link-hire, .link-hire:link, .link-hire:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.link-hire:hover {
	text-decoration:none;
	padding:0 20px;
	border-color:#FDCD3B;
	color:#000000;
}
.link-hire:active {
	color:#000000;
	text-decoration:none;
}
.span-tech-title, .span-tech-descrip {
	font-family:trajan sans-serif;
}

#bg-brainstorm {
	background:url("../photos/collab-icon.png")no-repeat;
	background-size:150px;
	width:150px;
	height:150px;
	margin:0 auto;
}
#bg-ux-ui {
	background:url("../photos/ux-ui-logo.png")no-repeat;
	background-size:160px;
	width:160px;
	height:150px;
	margin:0 auto;
}
#bg-code {
	background:url("../photos/code.png")no-repeat;
	background-size:150px;
	width:150px;
	height:150px;
	margin:0 auto;
}