#container-1-bg {
	background:url("../photos/coffeebackground.jpg")no-repeat;
	background-size:cover;
	background-position:center center;	
	min-height:100%;
}
html, body {
	height:100%;
	width:100%;
}
.nav-icon {
	margin-top:10px;
}
#dlogo {
	height:75px;
	margin-top:40px;
}
#title-div {
	margin-top:5%;
}
.span-title, .span-title-name {
	color:#FFFFFF;
	font-size:50px;
}
.span-title-name {
	font-size:30px;
}
#hire-me, #learn-more {
	margin-top:20px;
}
.span-hire {
	margin-top:5vh;
	border:1px solid #FDCD3B;
	padding:10px 33px;
	font-size:14px;
}
.learn-p {
	margin-top:5vh;
	border:1px solid #FDCD3B;
	padding:10px 20px;
	font-size:14px;
}
.link-hire, .link-hire:link, .link-hire:visited, .learn-more-link, .learn-more-link:link, .learn-more-link:visited .link-detail, .link-detail:link, .link-detail:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.link-hire:hover,.learn-more-link:hover {
	text-decoration:none;
	border-color:#FDCD3B;
	color:#000000;
}
.link-detail:hover {
	text-decoration:none;
	border-color:#FDCD3B;
	background-color:#F89406;
	color:#000000;
}
.learn-p:hover,.span-hire:hover {
	background-color:#F89406;
}
.link-hire:active, .learn-more-link:active, .link-detail:active {
	color:#000000;
	text-decoration:none;
}
#container-2-bg {
	background-color:#DADFE1;
	min-height:100%;
}
#tech-div {
	margin-top:10vh;
}
#tech-skills-row {
	margin-top:10vh;
}
#bg-brainstorm {
	background:url("../photos/collab-icon.png")no-repeat;
	background-size:150px;
	width:150px;
	height:150px;
	margin:0 auto;
}
#bg-ux-ui {
	background:url("../photos/ux-ui-logo.png")no-repeat;
	background-size:160px;
	width:160px;
	height:150px;
	margin:0 auto;
}
#bg-code {
	background:url("../photos/code.png")no-repeat;
	background-size:150px;
	width:150px;
	height:150px;
	margin:0 auto;
}
#container-3-bg {
	background-color:#34495E;
}
.work-portfolio-title {
	color:#ffffff;
	margin-bottom:10vh;
}
.company {
	color:#ffffff;
}
.job-title {
	color:#ECECEC;
}
.work-descrip {
	color:#E4F1FE;
}
.big-box-image {
	height:250px;
	width:300px;
}
.mini-box-image {
	height:150px;
}
.mini-box-row {
	margin:10px;
}
.more-detail {
	margin:10vh 0;
	font-size:18px;
	color:#ffffff;
}
.link-detail {
	border:1px solid #FDCD3B;
	padding:10px 20px;
}
.mini-box-image {
	padding:15px;
}







/*helps with layout during minimization*/
@media screen and (max-width: 449px) {
	.span-title {
		font-size:3em;
	}
	.span-title-name {
		font-size:2.5em;
	}
	.mini-box-row {
		display:inline-block;
		width:50%;
	}
}
/*helps with layout during minimization*/
@media (min-width: 450px) and (max-width: 990px) {
	.span-title {
		font-size:3em;
	}
	.span-title-name {
		font-size:2.5em;
	}
	#tech-skills-row {
		width:60%;
		margin:0 auto;
	}
	#tech-div {
		margin-bottom:10vh;
	}
	.mini-box-row {
		width:45%;
		display:inline-block;

	}
}